@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-bar {
    background-color: black; /* สีพื้นหลัง */
    padding: 20px 0 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
}

.menu-bar a {
    color: white; /* สีตัวอักษร */
    text-decoration: none;
    margin: 0 70px; /* ระยะห่างระหว่างลิงก์ */
    font-size: 25px;
}

.menu-bar a:hover {
    text-decoration: underline; /* ขีดเส้นใต้เมื่อเมาส์วาง */}

    .image-gallery {
        display: flex;
        justify-content: center; /* จัดให้อยู่กลางในแนวนอน */
        /*align-items: center; /* จัดให้อยู่กลางในแนวตั้ง */
        gap: 50px; /* ระยะห่างระหว่างรูปภาพ */
        padding: 50px 0;
        height: calc(100vh - 120px); /* ความสูงเต็มหน้าจอ ยกเว้นเมนู */
        background-color: white; /* สีพื้นหลัง */
    }
    
    .image-gallery .image-container {
        width: 350px;
        height: auto;
    }
    
    .image-gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px; /* ทำมุมโค้ง */
        border: 2px solid #ddd; /* ขอบบาง */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
    }
    .image-gallery p {
        font-size: 15px;
    }
    


    